<%= form_for @product do |f| %>

	<% if @product.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@product.errors.count, "error") %> prohibited the Product from being saved:</h2>

			<ul>
				<% @product.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<p><%= f.label :Name %>
<%= f.text_field "name" %></p>


<p><%= f.label :Description %>
<%= f.text_field "description" %></p>

<%= f.label :Price %>
<%= f.number_field "price_in_cents" %>

<p><%= f.submit "save" %></p>

<% end %>