<h1>Products#index</h1>



<ul>

<% @products.each do |product| %>

<li><a href="/products/<%= product.id %>"><%= product.name%>, <%= product.description %> <%= number_to_currency(product.formatted_price, delimeter: ",") %></a></li>

<% end %>

</ul>


<%= link_to "Add a new product", new_product_path(@product) %>